<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/necolas.github.io_normalize.css_8.0.1_normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header>
        <div class="first-nav">
            <img src="img/logo-mercado-liebre.svg" class="logo" alt="logo">
            <div class="box-search">
                <input class="boton" type="search" Value="Busccar productos, marcas"> <i
                    class="fa-solid fa-magnifying-glass"></i>
            </div>
            <p><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de crédito
            </p>
        </div>

        <nav>
            <div class="burger-menu">
                <ul class="nav-bar">
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
                <ul class="nav-bar">
                    <li><a href="">Crea tu cuenta</a></li><i class="far fa-address-card"></i>
                    <li><a href="">Ingresà</a></li> <i class="fas fa-angle-double-right"></i>
                    <li><a href="">Mis compras</a></li><i class="fas fa-shopping-basket"></i>
                </ul>
            </div>
            <div class="burger-menu1">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
    
        </nav>

        <img src="/img/img-home-banner.jpg " class="banner" alt="banner">
    </header>

    <main>
        <section>

            <h4>Basado en tu última visita</h4>
            <div>
                <img src="img/img-cafetera-moulinex.jpg" width="100px" alt="cafetera-moulinex">
            </div>

            <div class="description-specific">
                <p class="precio">$6.770</p>
                <p class="descuento">40% OFF</p>
                <p class="descripcion">Cafetera Moulinex</p>
            </div>
            <div>
                <img src="img/img-macbook-pro-2019.jpg" width="100px" alt="MacBook">
            </div>
            <div></div>
            <p class="precio">$230.000</p>
            <p class="descuento">20% OFF</p>
            <p class="descripciòn">MacBook Pro 2019</p>
            </div>
            <div>
                <img src="/img/img-samsung-galaxy-s10.jpg" width="100px" alt="Galaxy">
            </div>
            <div>
                <p class="precio">$70.500 </p>
                <p class="descuento">10% OFF</p>
                <p class="descripciòn"> Samsung Galaxy S10</p>
            </div>
            <div>
                <img src="img/img-tv-samsung-smart.jpg" width="100px" alt="SmartTv">
            </div>
            <div>
                <p class="precio">$23.200 </p>
                <p class="descuento">5% OFF</p>
                <p class="descripciòn">SmartTv Samsung 43</p>
            </div>



            <h3>Sección de Ofertas</h3>
            <div>
                <img src="img/img-cafetera-moulinex.jpg" width="100px" alt="cafetera-moulinex">
            </div>

            <div class="description-specific">
                <p class="precio">$6.770</p>
                <p class="descuento">40% OFF</p>
                <p class="descripcion">Cafetera Moulinex</p>
            </div>
            <div>
                <img src="img/img-macbook-pro-2019.jpg" width="100px" alt="MacBook">
            </div>
            <div></div>
            <p class="precio">$230.000</p>
            <p class="descuento">20% OFF</p>
            <p class="descripciòn">MacBook Pro 2019</p>
            </div>
            <div>
                <img src="/img/img-samsung-galaxy-s10.jpg" width="100px" alt="Galaxy">
            </div>
            <div>
                <p class="precio">$70.500 </p>
                <p class="descuento">10% OFF</p>
                <p class="descripciòn"> Samsung Galaxy S10</p>
            </div>
            <div>
                <img src="img/img-tv-samsung-smart.jpg" width="100px" alt="SmartTv">
            </div>
            <div>
                <p class="precio">$23.200 </p>
                <p class="descuento">5% OFF</p>
                <p class="descripciòn">SmartTv Samsung 43</p>
            </div>

        </section>
    </main>

    <footer>
        <div>
            <div class="tarjeta">
                <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
            </div>
            <h2 class="foot1"> Pagá con tarjeta o en efectivo</h2>
            <p class="foot2">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>


            <div class="regalo">
                <i class="fa fa-gift" aria-hidden="true"></i>
            </div>

            <h2 class="foot1">Envio gratis desde $ 2.500</h2>
            <p class="foot2">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>

                <div class="seguridad">
            <i class="fa fa-shield" aria-hidden="true"></i>
        </div>
            <h2 class="foot1">Seguridad, de principio a fin</h2>
            <p class="foot2">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>

            <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
        </div>
    </footer>
</body>

</html>